/*------------- Reset -------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 500;
}

body {
  font-family: var(--font-opensans);
  font-size: var(--16);
  color: var(--1F2E33);
  font-weight: 400;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

svg {
  fill: currentColor;
}

.styles-guide {
  display: grid;
  row-gap: 20px;
}

.font-nesans {
  font-family: var(--font-nesans);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media only screen and (min-width: 1024px) {
    max-width: 1100px;
  }
}

.h1 {
  font-size: var(--46);
  font-weight: 600;
  line-height: 54px;

  @media only screen and (min-width: 1024px) {
    font-size: var(--124);
    line-height: 145px;
  }

  &--medium {
    font-size: var(--54);
    font-weight: 600;
    line-height: 63px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--64);
      line-height: 75px;
    }
  }
}

.h2 {
  font-size: var(--32);
  font-weight: 600;
  line-height: 37px;

  @media only screen and (min-width: 1024px) {
    font-size: var(--48);
    line-height: 56px;
  }
}

.h3 {
  font-size: var(--24);
  font-weight: 600;
  line-height: 28px;

  @media only screen and (min-width: 1024px) {
    font-size: var(--32);
    line-height: 37px;
  }
}

.text {
  &--12 {
    font-size: var(--12);
    font-weight: 300;
    line-height: 16px;
  }

  &--14 {
    font-size: var(--14);
    font-weight: 300;
    line-height: 20px;
  }

  &--16 {
    font-size: var(--16);
    font-weight: 300;
    line-height: 21px;
  }

  &--18 {
    font-size: var(--18);
    font-weight: 300;
    line-height: 24px;
  }

  &--24 {
    font-size: var(--14);
    font-weight: 600;
    line-height: 20px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--24);
      line-height: 28px;
    }
  }

  &--32 {
    font-size: var(--32);
    font-weight: 600;
    line-height: 37px;
  }

  &--200 {
    font-size: var(--46);
    font-weight: 600;
    line-height: 54px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--24);
      line-height: 235px;
    }
  }
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: var(--16);
  color: var(--1F2E33);
  line-height: 24px;
  letter-spacing: 0.5px;
  border: 0;
  text-decoration: none;
}

.color {
  &--E0D6CD {
    color: var(--E0D6CD);
  }
}

.fw {
  &--300 {
    font-weight: 300;
  }

  &--500 {
    font-weight: 500 !important;
  }
}

/* Página inicio */
/* sectionBanner */
.sectionBanner {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__contenido {
    max-width: 644px;
    margin: 0 auto;
    padding: 50px 20px 30px;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      padding: 50px 20px 0;
    }

    .h2 {
      margin-bottom: 10px;
    }
  }

  &__img {
    margin-top: 30px;

    @media only screen and (min-width: 1024px) {
      margin-top: 50px;
    }
  }

  &__bckg {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }
}

/* seccionContador */
.seccionContador {
  &__fondo {
    padding: 30px 0 10px;

    @media only screen and (min-width: 780px) {
      padding: 30px 0;
    }

    .container {
      padding: 0;

      @media only screen and (min-width: 780px) {
        padding: 0 20px;
      }
    }
  }

  &__grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    padding: 0 0 20px 20px;
    overflow: auto;

    @media only screen and (min-width: 780px) {
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
      padding: 0;
      overflow: inherit;
    }
  }

  &__numero {
    text-align: center;
    min-width: 140px;

    @media only screen and (min-width: 780px) {
      min-width: none;
    }
  }
}

/* seccionMetodo */
.seccionMetodo {
  &__fondo {
    padding: 40px 0;

    @media only screen and (min-width: 992px) {
      padding: 80px 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;

    @media only screen and (min-width: 992px) {
      grid-template-columns: 3fr 4fr;
    }
  }

  &__foto {
    margin: 0 auto;
    text-align: center;

    @media only screen and (min-width: 992px) {
      max-width: 320px;
      margin: 0 auto 0 0;
    }

    .h1--medium {
      position: relative;
      line-height: 25px;
      z-index: 1;
    }
  }

  &__contenido {
    display: grid;
    row-gap: 40px;

    .h1--medium {
      display: flex;
      align-items: flex-end;
    }
  }

  &__paso {
    display: grid;
    grid-template-columns: 55px 1fr 40px;
    text-decoration: none;

    @media only screen and (min-width: 992px) {
      grid-template-columns: 78px 1fr 40px;
    }
  }

  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    padding: 0 10px 0 20px;

    @media only screen and (min-width: 992px) {
      padding: 0 40px 0 20px;
    }

    p {
      font-size: var(--16);
      line-height: 21px;
      font-weight: 300;
    }

    .fw--500 {
      letter-spacing: 2.56px;
    }
  }
}

/* seccionEmpresas */
.seccionEmpresas {
  border-bottom: 1px solid var(--1F2E33);
  &__fondo {
    padding: 40px 0;

    @media only screen and (min-width: 992px) {
      padding: 80px 50px;
    }

    .container {
      padding: 0;

      @media only screen and (min-width: 992px) {
        padding: 0 20px;
      }
    }
  }

  &__contenido {
    text-align: center;

    .text--16 {
      @media only screen and (min-width: 992px) {
        margin-bottom: 30px;
      }
    }
  }

  &__logo {
    margin-bottom: 20px;

    @media only screen and (min-width: 992px) {
      margin-bottom: 50px;
    }
  }

  &__empresas {
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 120px;

      @media only screen and (min-width: 992px) {
      }

      img {
        width: auto;
      }
    }
  }

  .slick-list {
  }
}

/* seccionDificultad */
.seccionDificultad {
  border-bottom: 1px solid var(--1F2E33);

  &__grid {
    display: block;

    @media only screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
  }

  &__contenido {
    padding: 20px 0 0;

    @media only screen and (min-width: 992px) {
      padding: 80px 0 0;
    }

    .conocemas {
      padding-bottom: 30px;
      @media only screen and (min-width: 992px) {
        display: none;
      }
    }

    h2 {
      margin-bottom: 20px;
      padding: 0 20px;
      text-align: center;
      @extend .text--32;

      @media only screen and (min-width: 992px) {
        max-width: 680px;
        margin-bottom: 30px;
        padding: 0 0 0 80px;
        text-align: left;

        font-size: var(--64);
        line-height: 75px;
        font-weight: 600;
      }
    }
  }

  &__dificultad {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 80px 20px 20px;
    border-top: 1px solid var(--1F2E33);
    color: var(--1F2E33);
    @extend .text--18;
    text-decoration: none;

    @media only screen and (min-width: 992px) {
      padding: 25px 100px 25px 80px;
    }

    img {
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -15px;
      @media only screen and (min-width: 992px) {
        right: 40px;
      }
    }
  }

  &__img {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (min-width: 992px) {
      display: block;
    }
  }
}

/* seccionTestimonios */
.seccionTestimonios {
  &__fondo {
    padding: 40px 0;

    @media only screen and (min-width: 992px) {
      padding: 80px 0;
    }
  }

  &__titulo {
    padding: 0 20px;
    text-align: center;

    @media only screen and (min-width: 992px) {
      padding: 0 20px 40px;
    }
  }

  &__targeta {
    display: grid;
    border-radius: 32px;
    background-color: var(--fff);
    overflow: hidden;

    @media only screen and (min-width: 680px) {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__padding {
    padding: 0 20px;

    @media only screen and (min-width: 680px) {
      padding: 8px;
    }
  }

  &__avatar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 231px;
    padding: 0 5px 20px 5px;
    background-color: var(--C86C54);
    border-radius: 32px 32px 0 0;

    @media only screen and (min-width: 680px) {
      height: auto;
      border-radius: 0 120px 0 32px;
    }

    span {
      display: flex;
      width: 120px;
    }
  }

  &__info {
    padding: 30px;

    @media only screen and (min-width: 680px) {
      padding: 15px 20px 15px;
    }

    .text {
      &--16 {
        padding-bottom: 15px;
      }
    }
  }
}

/* seccionTexto */
.seccionTexto {
  &__fondo {
    padding: 40px 0 75px;

    @media only screen and (min-width: 1024px) {
      padding: 80px 0 150px;
    }
  }

  &__contenido {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    .text {
      &--12 {
        padding-bottom: 30px;
        @media only screen and (min-width: 1024px) {
          padding-bottom: 10px;
        }
      }
      &--32 {
        line-height: normal;
        @media only screen and (min-width: 1024px) {
          line-height: 0;
        }
      }
    }

    .quote {
      width: 48px;
      @media only screen and (min-width: 1024px) {
        width: 98px;
      }
    }
  }
}

/* seccionFooter */
.seccionFooter {
  &__fondo {
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: 1fr 3fr;
    }
  }

  &__logo {
    display: grid;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
    padding: 40px 20px 20px;

    @media only screen and (min-width: 1200px) {
      padding: 80px 40px 40px;
    }

    @media only screen and (min-width: 1024px) {
      border-right: 1px solid var(--E0D6CD);
    }

    img {
      margin: 0 auto;
    }
  }

  &__contacto {
    padding: 25px 0 0;

    @media only screen and (min-width: 1200px) {
      padding: 50px 0;
    }
  }

  &__titulo {
    display: none;
    grid-template-columns: 1fr;
    padding-bottom: 15px;
    text-align: center;

    @media only screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }

    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid var(--E0D6CD);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;

      
    }

    .toggle {
      padding: 20px;
      border: 0;
      border-bottom: 1px solid var(--E0D6CD);
      background-color: transparent;
      cursor: pointer;

      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }

    a {
      text-decoration: none;
    }

    .seccionFooter__col {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      @media only screen and (min-width: 1200px) {
        padding-top: 40px;
      }
    }
  }

  &__menu {
    display: none;
    flex-direction: column;
    row-gap: 10px;

    @media only screen and (min-width: 1024px) {
      display: grid;
    }

    a {
      display: block;
      width: 100%;
      padding: 5px;
    }

  }
}

/* slick */
.slick {
  &-active {
    button {
      width: 20px !important;
      &:before {
        width: 20px !important;
        height: 4px;
      }
    }
  }
  &-dots {
    li {
      button {
        background-color: var(--1F2E33);

        &:before {
        }
      }
    }
  }
}
