:root {
  --font-opensans: "Open Sans", sans-serif;
  --font-nesans: "Nesans";
  --fff: #fff;

  --1F2E33: #1F2E33;
  --E0D6CD: #E0D6CD;
  --755465: #755465;
  --C86C54: #C86C54;
  --8E7F21: #8E7F21;
  --B9B6B6: #B9B6B6;
  --F4F4F4: #F4F4F4;
  --25313C: #25313C;

  --10: 10px;
  --12: 12px;
  --14: 14px;
  --16: 16px;
  --18: 18px;
  --24: 24px;
  --25: 25px;
  --32: 32px;
  --34: 34px;
  --46: 46px;
  --48: 48px;
  --54: 54px;
  --64: 64px;
  --124: 124px;
}